body {
	display: flex;
	flex-direction: column;
	font-family: helvetica, sansserif;
	align-items: center;
	justify-content: center;
	background-color: yellow;
}
.nav {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	bottom: 0px;
}

.nav div {
	display: flex;
	flex-direction: row;
	margin: 50px;
	margin-bottom: 10px;	
	justify-content: space-around;
	align-items: center;	
}

.nav p {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	text-align: center;
}

.create_button {
	position: relative;
	height: 80px;
	width: 80px;
	background-color: gray;
	color: white;
	margin: 50px;
	margin-bottom: 10px;
	border: 2px solid lightgray;
	border-radius: 75px;	
}

.wrapper {
	position: relative;
	display: grid;	
	height: 400px;
	width: 600px;	
	background-color: lightgray;
}

.cell {
	position: relative;
	background-color: : lightgray;
}

.cell_fill {
	position: relative;
	background-color: black;
}

.cell:hover {
	background-color: black;
}

.big-wrapper {
	background-color: red;
	padding: 0px;
	margin: 0px;
	border: 100px solid red;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

h1	{
	position: absolute;
	font-family: script, cursive;
	font-size: 35px;
	color: white;
	padding: 0px;
	z-index: 5;
	top: 20px;
	text-shadow: 2px 2px black;
}
